/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
margin: 0;
padding: 0;
width:100%;
height:100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chris {
    text-align: center;
    margin-top: 20px;
}
.navbar{
	height: 75px;
}

.container1{
	background: #000000;
	color: #FFFFFF;
}
.hoge {
	float: left;
}

.head li{
	float: left;
}

.btn-sm  {
  color: #4689FF;
}

.btn-social-icon-facebook {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  color: #4966a0;;
  font-size: 25px;
  text-decoration: none;
}

.btn-social-icon-facebook:hover {
  color:#668ad8;
  transition: .5s;
}

.btn-social-icon-facebook__square {
  border-radius: 10px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 35px;
  line-height: 50px;
  color: #FFF;
  background: #4966a0;;
}

.btn-social-icon-facebook__square .fa-facebook {
  position: absolute;
  bottom: -3px;
  right: 6px;
  font-size: 42px;
}
