
<div class="nested-fields">
  <div class="field">
    <span>装備名</span>
  	<span><%= link_to_remove_association "装備を削除", f  %></span>
    <%= f.text_field :name, class: "form-control", placeholder: '装備名を入力してください' %>
  </div>
</div>